@{
  Layout = "_Layout";
}

<h1>Welcome to the Vendor Tracker!</h1>
<p>Hey Pierre! Thank you for choosing us as your vendor tracking service! We're happy to have you! Our service allows you to manage your vendor list and their corresponding orders all in one place!<p> 
<p>Click <a href='/vendors'>HERE</a> to view your vendor list.</p>